@font-face {
  font-family: "quicksand";
  src: url(../fonts/quicksand.ttf);
}

$font1: "quicksand", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;

$color1: #0097b2;
$color2: #0cc0df;
$black: #000000;
$white: #ffffff;
$text: #333333;
$blackShadow: rgba(0, 0, 0, 0.25);
$whiteShadow: rgba(255, 255, 255, 0.25);
$whiteOverlay: rgba(255, 255, 255, 0.9);
$color1Overlay: rgba(0, 151, 178, 0.2);
$border: #f1f1f1;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font1;
  font-size: 1rem;
  color: $text;
  transition: all 0.2s ease;
  cursor: default;
  user-select: none;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color1;
  text-transform: uppercase;
  letter-spacing: 1px;

  * {
    color: $color1;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: $color1;
  cursor: pointer;

  * {
    color: $color1;
    cursor: pointer;
  }

  &:hover {
    color: $text;
  }
}

.df {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.df-jcc {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.df-aic {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;

  h2 {
    margin-bottom: 0 !important;
  }
}

.df-jcsb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.dg {
  display: grid;
  gap: 20px;
}
