@use "settings";

@use "components/buttons";
@use "components/title-page";
@use "components/button-reservation";

@use "layout/footer";
@use "layout/form";
@use "layout/header";
@use "layout/main";

@use "pages/homepage";
@use "pages/details-pages";
